services:
  db:
    image: postgres:16
    container_name: postgres_examen
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: laravel
    ports:
      - "5433:5432"